<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/newPost.css">
</head>
<body>
    <div>
        <form action="/posts" method="post" class="new-post-container">
            <label for="user">Username : </label><br>
            <input type="text" placeholder="Enter your username" name="username" id="user">
            <br> <br>
            <label for="content">Content :</label><br>
            <textarea name="content" id="content"></textarea>
            <br> <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>